a
  {
    padding: 15px;
    font-size: 20pt;
    text-decoration: none;
    text-transform: uppercase;
    color:lightgray;
  }

a:hover
  {
    text-decoration: line-through;
    color:gold;
  }


body
  {
    background-color:lightblue;
  }

h3
  {
    color:blue;
    text-decoration: underline;
  }

#moustache
  {
    width:100px;
    position:fixed;
    margin-top:-100px;
    margin-left: -10px;


  }

#mypic
  {
    width: 380px;
    position: fixed;
    margin-left: 100px;
    margin-top: 10px;
    border-style:groove;
    border-width: 25px;
  }


#nameheader
  {
    text-align:center;
    z-index:1;
    width: 300px;
    background-color: cornflowerblue;
    font-size:24pt;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    padding:5px;
    position: fixed;
    margin-left: 160px;
    margin-top: 440px;
  }

#nameheader:hover + p, p:hover
  {
    display:block;
  }



div
  {
    position: relative;
    display:block;
    text-align: center;
    margin-top:90px;
    margin-left:650px;
    padding-bottom: 60px;
    padding-top: 5px;
    width:50%;
    background-color:white;
    border-style: double;
    border-width: 10px;
    border-color: cornflowerblue;
  }


div.imgs
  {
    margin-left:650px;
  }


li
  {
    list-style-type:none;
    margin-right:40px;
  }

p
  {
    display:none;
    text-align:center;
    position:fixed;
    background-color:darkblue;
    padding:20px;
    padding-top:75px;
    margin-left: 100px;
    margin-top:440px;
    width:390px;
  }
